# Prevent from uploading MIT_sampleVideos_RAW folder
input_data/*
!input_data/test/

# Prevent from uploading .DS_Store
*.DS_Store

# Prevent from uploading pretrained models (.pth files)
*.pth

# Prevent from uploading VS code parameters
.vscode/

# Prevent from uploading __pycache__
__pycache__/

# Prevent from uploading temp files
temp/*
!20210305_AB_ratorDistribution_qq1+qq2.csv
!mifs_MIT_sampleVideos_RAW_final_25FPS_from-dict.csv
!20210719_AB_fname_+_QQ-positioning.csv
!20210729_concatenated_N1648_mifs.csv
#!temp/ResNet50_MiTv1_accuracies_per_category.pkl

# Ignore old scripts that were corrected AND/OR moved to "scripts" folder
old_* 

# Ignore extracted
best_and_worst_frames_RN50MiTv1/

# Plots
plots/*
!/plots/best&worst+top5/cutting_yt-UgO4jE-puiE_67.mp4/

!plots/hierarchical_clustering/
plots/hierarchical_clustering/*
!plots/hierarchical_clustering/silhouette_idx_analysis/

# Auxiliar code
Kabulska_SilhouetteIdx_scripts/

# Workspaces
.R*

# Spreadsheets
spreadsheets

# experimental
x.*