# Prevent from uploading MIT_sampleVideos_RAW folder
data/MIT_sampleVideos_RAW/*
!data/MIT_sampleVideos_RAW/jogging
# Prevent from uploading .DS_Store
data/.DS_Store
.DS_Store
# Prevent from uploading ignore/ folder
_ignore/
# Prevent from uploading .ipynb_checkpoints
.ipynb_checkpoints/
# Prevent from uploading pretrained models (.pth files)
*.pth
# Prevent from uploading VS code parameters
.vscode/
# Prevent from uploading __pycache__
__pycache__/
# Prevent from uploading saved files
saved/*
!saved/ResNet50_MiTv1_accuracies_per_category.pkl

# Ignore beta & old
beta_*
old_*

# Ignore extracted
best_and_worst_frames_RN50MiTv1/

# Outputs
outputs/*

# Plots
plots/*
!/plots/best&worst+top5/cutting_yt-UgO4jE-puiE_67.mp4/

!plots/hierarchical_clustering/
plots/hierarchical_clustering/*
!plots/hierarchical_clustering/silhouette_idx_analysis/


#
Kabulska_SilhouetteIdx_scripts/